body, header, nav, footeru, ul, li{
    margin: 0;
}
.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.nav ul{
    list-style-type: none;
    display: flex;
}
.nav ul li{
    margin: 0 10px;
}
.nav ul li a{
    color: turquoise;
    text-decoration: none;
}
.footer {
    background-color: blueviolet;
    color: aqua;
    padding: 20px;
    text-align: center;
}   
